# config
/src/config/config.json
/src/config/cognito-client-config.json
/src/config/config-prd.json
/src/config/config-dev.json
/src/config/config-local.json

# public
/public/assets/js/*
/public/assets/css/*
/public/.htaccess
