{
  "domain": null,
  "port": null,
  "baseUrl": "/",
  "isSSL": false,
  "isDebug": false,
  "siteName": "GPCMS",
  "logoUrls": {
    "site": "/assets/img/logo.png",
    "admin": "/assets/img/logo-w.png"
  },
  "loadingMaxDuration": 30,
  "isEnabledComment": true,
  "adminAuthHeader": "Authorization",
  "adminAuthHeaderTokenPrefix": "Bearer",
  "availableFunctions": ["post", "urlShortener"],
  "post": {
    "isEditablePostBodyOnPageByMarkdown": false,
    "defaultEditorMode": "richText",
    "autoSlugSet": {
      "isEnabled": false,
      "format": "date"
    }
  },
  "media": {
    "url": "https://media.example.com"
  },
  "tinyMCEApiKey": null,
  "voteTypesDefault": ["like", "dislike"],
  "shortenUrl": {
    "redirectBaseUrl": "https://rd.example.com/",
    "waitingTimeForQrCodeCreated": 12
  }
}

