{
  "domain": null,
  "port": null,
  "baseUrl": "/",
  "isSSL": false,
  "siteName": "Sample Site",
  voteTypesDefault": ["like", "dislike"],
  "isEnabledComment": true,
  "adminAuthHeader": "Authorization",
  "adminAuthHeaderTokenPrefix": "Bearer",
  "availableFunctions": ["post", "urlShortener"],
  "post": {
    "autoSlugSet": {
      "isEnabled": false,
      "format": "date"
    }
  },
  "media": {
    "url": "https://media.example.com"
  },
  "tinyMCEApiKey": null,
  "shortenUrl": {
    "redirectBaseUrl": "https://rd.example.com/",
    "viaJumpPage": {
      "url": "https://example.com/rd/redirect.htm",
      "paramKey": "url"
    },
    "waitingTimeForQrCodeCreated": 12
  }
}

